div {
    background-color: red;
    padding: 10px;
    /* max-width: 400px;
    min-width: 800px;
    min-height: 30px;
    max-height: 60px; */

    width: fit-content;
    /* height: fit-content;*/
}