/*
  Filters
  - It is not supported by many browsers, so be careful when using it
*/

* {
    box-sizing: border-box;
}

img {
    transition: 0.4s;
    /* filter: blur(2px); */
}

img:hover {
    /* filter: blur(0); */
}