.parent {
    background-color: red;
    padding: 10px;
}

.parent div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #EEE;
    width: 25%;
    float: left;
}

.clear {
    clear: both;
}