/* 
    Child
  - grid-column: [Grid-Column-Start] / [Grid-Column-End]
  - grid-row: [Grid-Row-Start] / [Grid-Row-End]
*/

* {
    box-sizing: border-box;
}

/* .parent {
    background-color: rgb(133, 43, 43);
    padding: 5px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px 5px;
}

.parent div {
    background-color: rgb(0, 128, 255);
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.header,
.footer {
    grid-column: 1 / -1;
}

.nav,
.main,
.sidebar {
    grid-row: 2/4;
} */

.parent {
    background-color: rgb(4, 77, 141);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
        "head head head"
        "nav main side"
        "nav main side"
        "foot foot foot"
    ;
}

.parent div {
    background-color: rgb(65, 17, 17);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: head;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: side;
}

.footer {
    grid-area: foot;
}