/*
    Text Alignment: 
    - Alignment
    - Direction
    - Vertical Alignment
*/
div {
    background-color: #E0E0E0;
    color: black;
    text-align: center;
}

.arabic {
    direction: rtl;
}

.english {
    direction: ltr;
}

img {
    vertical-align: middle;
}