div {
    background-color: #EEE;

    /* We should edit the text in the css using (text-transform) not in html */
    text-transform: capitalize;
}

a {
    background-color: red;
    color: white;

    padding: 5px 10px;
    margin: 10px auto;

    display: inline-block;

    border-radius: 5px;

    /* We use it to remove the underline from the text of the link */
    text-decoration: none;
}