div {
    background-color: #eee;

    font-family: Arial, Helvetica, sans-serif;

    width: 400px;
    padding: 10px;
    margin: 10px;
}

p {
    padding: 5px;
    margin: 0;
}

.one p {
    border-left: solid 5px #e91e63;
}

.two {
    visibility: hidden;
}

.three p {
    border-left: solid 5px #009688;
}