div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #ddd;
    /* Get The Background From Image */
    color: black;
}

.one {
    background-color: rgb(221 221 221 / 0.1);
}

.two {
    opacity: 0.1;
}