* {
    box-sizing: border-box;
}

:root {
    --background-color: #ccc;
    --margin: 10px;
    --padding: 5px;
}

body {
    background-color: rgb(105, 105, 105);
}

.page {
    background-color: #eee;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo,
.links {
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    justify-content: center;
    width: calc(100% / 6);
}

.links {
    justify-content: flex-end;
    list-style-type: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    padding-left: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

li {
    margin: 10px;
}

.main-area {
    display: flex;
    justify-content: space-between;
}

.content,
.sidebar {
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    width: calc(100% / 3);
    height: 400px;
}

.content {
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    margin: var(--margin);
    padding: calc(var(--padding) + 5px);
}