div {
    text-align: center;
}

.text1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.text2 {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}

.text3 {
    font-family: "Jomhuria", serif;
    font-weight: 300;
}