div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 20px auto;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;
    box-shadow: inset black 0 0 10px 0;
}